LENGUAJE DE MARCAS Y SISTEMAS DE GESTION DE INFORMACIÓN/UNIDAD 4/XSD/envio.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="via" type="xs:string"/>
  <xs:element name="poblacion">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:short" name="cp" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="provincia">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="pais" default="España"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="identidad" type="xs:string"/>
  <xs:element name="num_contrato">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:int">
           <xs:attribute name="tipo">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="básico"/>
							<xs:enumeration value="avanzado"/>
							<xs:enumeration value="completo"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="ubicacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="via"/>
        <xs:element ref="poblacion"/>
        <xs:element ref="provincia" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fecha" type="xs:date"/>
  <xs:element name="hora" type="xs:time"/>
  <xs:element name="comentario" type="xs:string"/>
  <xs:element name="nombre_completo">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="id" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
    <xs:annotation>
      <xs:documentation>
  Para el elemento "emisor" necesitamos determinar tres cardinalidades diferentes. En identidad y ubicación necesitamos que el númeropo de veces que se puedan dar esten entre 1 y "x" donde x es un
  número por determinar. Por otro lado, necesitamos que "num_contrato" sea opcional, o lo que es lo mismo, que no tenga por qué aparecer en el XML, es por eso que le dotamos del valor 0, para que
  cuando se valide el XML no sea imprescindible su presencia.
     </xs:documentation>
           </xs:annotation>
  <xs:element name="emisor">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="identidad" maxOccurs="unbounded" minOccurs="1"/>
        <xs:element ref="num_contrato" minOccurs="0"/>
        <xs:element ref="ubicacion" maxOccurs="unbounded" minOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="intento">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="fecha"/>
        <xs:element ref="hora" minOccurs="0"/>
        <xs:element ref="comentario" maxOccurs="unbounded" minOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="recepcionado">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="sí"/>
							<xs:enumeration value="no"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="receptor">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="nombre_completo"/>
        <xs:element ref="ubicacion"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
          <xs:annotation>
      <xs:documentation>
   Esto documento ha sido creado por: Francisco Jesús Díaz Martínez, con una estructura ascendente, que recoge la mayoría delos elementos desde abajo hacia arriba.
     </xs:documentation>
           </xs:annotation>
  <xs:element name="envio">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="emisor"/>
        <xs:element ref="intento" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element ref="receptor"/>
      </xs:sequence>
      <xs:attribute name="cod">
      <xs:annotation>
      <xs:documentation>
      Se requiere que el atributo "cod" este formado por 7 carácteres, de los cuales: los dos primeros tiene que ser letras mayúsculas, el siguiente, debe de ser un dígito comprendido en la horquilla del 
      1-3, y por último una cifra de cuatro dígitos compuestos por la horquilla del 0-9.
     </xs:documentation>
           </xs:annotation>
      <xs:simpleType>
      <xs:restriction base="xs:string">
      <xs:length value="7"/>
      <xs:pattern value ="[A-Z]{2}[0-3]{1}[0-9]{4}"/>
      </xs:restriction>
      </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>